body {
    background-color: silver;
}

main {
    text-align: center;
}

.images {
    width: 150px;
    height: 150px;
    margin-bottom: 2vh;
}

.hh3 {
    width: 240px;
    height: 100px;
    margin-bottom: 2vh;
}

.price {
    color: red;
    font-weight: bolder;
    font-size: 20px;
}

.productArea {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8vh;
    align-items: center;
    text-align: center;
    margin: 3vh;
    margin-top: 12vh;
    
}

.productArea div {
    background-color: rgb(217, 217, 217);
    box-shadow: 2px 2px 2px 2px black;
    padding: 5vh;
    height: 400px;
    justify-content: space-between;
    text-align: center;
    border-radius: 15px;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5vh;
}

.authoritation {
    display: flex;
    text-align: center;
    align-items: center;
    gap: 2vh;
    background-color: white;
    padding: 1vh;
    border-radius: 5px;
    cursor: pointer;
}

span {
    color: black;
}

.lang {
    padding: 1.5vh;
    border-radius: 25px;
    border: none;
}

.buy {
     padding: 1.5vh;
     width: 100px;
     border-radius: 12px;
     border: none;
     cursor: pointer;
     background-color: silver;
     color: white;
     border: 2px solid black;
}

.buy:hover {
    background-color: rgb(87, 85, 85);
    transition: 2s ease-in;
}

.user {
    width: 30px;
}



a {
    text-decoration: none;
}

.nav_right {
    display: flex;
    gap: 4vh;
}

.search {
     padding: 1.5vh;
     width: 450px;
     margin-right: 20vh;
     border-radius: 12px;
     text-align: center;
     border: none;
}

h1 {
    color: white;
    text-decoration: underline;
    text-decoration-color: black;
}

.slct {
     padding: 1.5vh;
     width: 150px;
     margin-right: 10vh;
     border-radius: 12px;
     text-align: center;
     cursor: pointer;
}



.logo {
    color: white;
    text-decoration: underline;
    text-decoration-color: black;
    cursor: pointer;
}


@media screen and (max-width: 680px ) {
     .productArea {
       grid-template-columns: repeat(1, 1fr);
     }

     .search {
        display: none;
     }

     header {
        gap: 2vh;
     }

     .slct {
        margin-right: -5vh;
     }
}

@media only screen and (min-width: 681px) and (max-width: 1024px) { 
     .productArea {
        grid-template-columns: repeat(2, 2fr);
     }

     .productArea div {
        width: 210px;
     }

     .search {
        display: none;
     }

     .slct {
        margin-right: -8vh;
     }
}


